<%- include("./partials/header") %>
<div class="main"> 
  <button type="submit" class="delete btn btn-primary float-sm-right mb-2"  id="btnDelete">Удалить</button>
  <div class="alert alert-light" role="alert" id="result">
    Можно выбрать и удалить
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td><input type="checkbox" id="delAll"/></td>
        <th scope="col">ID</th>
        <th scope="col">Сортировка</th>
      </tr>
    </thead>
    <tbody id="table">
      <% response.forEach(function(result){ %>
      <tr>
        <td><input type="checkbox" data-id=<%= result.id %> /></td>
        <td><%= result.id %></td>
        <td><%= result.arrSort.join(' ') %></td>
      </tr>
      <%  }); %>
    </tbody>
  </table>
</div>
<script src="js/DbConnector.js"></script>
<script type="module" src="js/showall.js"></script>
<%- include("./partials/footer") %>